.header-container h3 {
    color: turquoise;
    font-weight: bold;
    font-family: cursive;
    font-size: 3vw;
    text-align: center;
    padding-top: 5rem;
}

#our_zimers,
#contact,
#signup,
#login {
    color: turquoise;
}

.navbar-con .house-con {
    position: absolute;
    right: 8%;
    top: 15%;
    width: 60px;
    height: 60px;
    color: rgb(64, 197, 224);
}

.navbar-con .collapse-btn-con {
    display: flex;
    justify-content: space-evenly;
}

.collapse-btn-con .nav-btn {
    padding-top: 5dvh;
    margin: auto;
    background: none;
    border-style: none;
    font-size: x-large;
    color: black;
    font-weight: 700;
}

.nav-btn:hover {
    color: turquoise;
    scale: 1.2;
}