.main-signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 40%;
  top: 30%;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.signinInput-container .input-con input {
  padding: 7px;
}

.signinInput-container .input-con label {
  font-weight: bolder;
  color: whitesmoke;
  font-size: large;
  margin-top: 5px;
}

.main-signup-container .buttons-container {
  margin-top: 20px;
}

.buttons-container .button {
  width: 90px;
  height: 40px;
  font-weight: bold;
  border-radius: 20px;
  background-color: turquoise
}

.buttons-container .button:hover {
  background-color: rgb(141, 227, 138);
  color: black;
}